.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    width: 277px;
    height: 554px;
    text-align: center;
    font-size: 18px;
    background: #101010;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    color: white;
    cursor: pointer;
    .swiper__card{
        border: 2px solid white;
        border-radius: 29px;
        max-width: 284px;
        transition: all 0.4s ease-out;
        img {
            width: 262px;
            height: 290px;
        }
        h4 {
            margin-top: -30px;
            font-weight: 500;
            font-size: 32px;
            line-height: 163%;
            letter-spacing: 0.06em;
            color: #fff;
        }
        &__desr {
            max-width: 200px;
            margin: 0 auto 5px auto;
            padding-top: 6px;
            font-size: 20.13px;
            line-height: 163.47%;
            letter-spacing: 0.03em;
        }
        &__price{
            display: inline;
            font-weight: 500;
            font-size: 32px;
            line-height: 163%;
            letter-spacing: 0.02em;
            margin-right: 40px;
            margin-top: 40px;
        }
        &__value{
            display: inline;
            font-weight: 400;
            font-size: 20px;
            line-height: 163%;
            letter-spacing: 0.04em;
            color: #d9d9d9;
        }
        &__btn{
            cursor: pointer;
            border: none;
            border-radius: 83px;
            width: 186px;
            height: 54px;
            line-height: 146%;
            color: #fff;
            margin-top: 18px;
            background: linear-gradient(210deg, #237249 0%, #35c66b 100%);
            font-weight: 600;
            font-size: 17px;
            letter-spacing: 0.02em;
            transition: all 0.4s ease-out;
        }
    }
    .swiper__card:hover{
        border: 2px solid #2baf6b;
        border-radius: 29px;
        z-index: 10;
        .swiper__card__btn{
            background: linear-gradient(210deg, #27ab66 0%, #08be4d 100%);
        }

        &::before {
            z-index: -1;
            content: "";
            position: absolute;
            right: 0px;
            top: 0px;
            width: 508px;
            height: 527px;
            background-image: url("../../../public/img/HomePage/carousel/background_card.svg");
            background-repeat: no-repeat;
            background-size: 508px 527px;
            transition: all 0.4s ease-out;
        }
    }
}

.swiper-button-prev{
    border: 3px solid #2F9860FF;
    background: linear-gradient(210deg, rgba(35, 114, 73, 0.57) 0%, rgba(53, 198, 107, 0.22) 100%);
    border-radius: 29px;
    width: 84px;
    height: 84px;
    left: 0;
    transition: all 0.4s ease-out;
}
.swiper-button-prev::after{
    content: '←';
    color: #2f9860;
    margin-bottom: 7px;
}
.swiper-button-prev:hover{
    transition: all 0.4s ease-out;
    background: linear-gradient(210deg, rgba(35, 114, 73, 0.32) 0%, rgba(53, 198, 107, 0.22) 100%);
}
.swiper-button-next{
    background: linear-gradient(210deg, rgba(35, 114, 73, 0.57) 0%, rgba(53, 198, 107, 0.22) 100%);
    border: 3px solid #2F9860FF;
    border-radius: 29px;
    width: 84px;
    height: 84px;
    right: 0;
    transition: all 0.4s ease-out;
}
.swiper-button-next:hover{
    transition: all 0.4s ease-out;
    background: linear-gradient(210deg, rgba(35, 114, 73, 0.32) 0%, rgba(53, 198, 107, 0.22) 100%);
}
.swiper-button-next::after{
    content: '→';
    color: #2F9860FF;
    margin-bottom: 7px;
}