.promo {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
.promo::before {
  z-index: -5;
  content: "";
  position: absolute;
  left: 190px;
  top: 30px;
  width: 508px;
  height: 527px;
  background-image: url("../../public/img/HomePage/GreenCircle.svg");
  background-repeat: no-repeat;
  background-size: 508px 527px;
}
.promo .promo__text {
  text-wrap: nowrap;
  font-weight: 800;
  font-size: 80px;
  line-height: 109%;
  letter-spacing: -0.06em;
  color: #fff;
  width: 570px;
}
.promo .promo__text strong {
  text-wrap: nowrap;
  font-weight: 800;
  font-size: 80px;
  line-height: 109%;
  letter-spacing: -0.06em;
  color: #fff;
  letter-spacing: -0.05em;
  background: -webkit-linear-gradient(225deg, rgb(35, 114, 73) 0%, rgb(53, 198, 107) 100%);
  background: -moz-linear-gradient(225deg, rgb(35, 114, 73) 0%, rgb(53, 198, 107) 100%);
  background: linear-gradient(225deg, rgb(35, 114, 73) 0%, rgb(53, 198, 107) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.promo .promo__info p {
  margin: 58px 0 0 2px;
  font-size: 20px;
  line-height: 163%;
  letter-spacing: 0.048em;
  color: #d9d9d9;
}
.promo .promo__info .promo__btns {
  margin-top: 53px;
}
.promo .promo__info .promo__statistic {
  display: flex;
  margin-top: 55px;
}
.promo .promo__info .promo__statistic .promo__statistic__item {
  margin-right: 69px;
}
.promo .promo__info .promo__statistic .promo__statistic__item h4 {
  font-weight: 400;
  font-size: 62px;
  line-height: 109%;
  letter-spacing: 0.015em;
  color: #fff;
}
.promo .promo__info .promo__statistic .promo__statistic__item span {
  color: #237249;
}
.promo .promo__info .promo__statistic .promo__statistic__item p {
  letter-spacing: 0.09em;
  margin: 0;
}
.promo .promo__img {
  position: relative;
  max-width: 90%;
  top: -90px;
  z-index: -1;
}

/*----------------------WE HAVE-----------------*/
.weHave {
  margin-top: -240px;
  position: relative;
}
.weHave::before {
  z-index: -5;
  content: "";
  position: absolute;
  left: -140px;
  top: -100px;
  width: 508px;
  height: 527px;
  background-image: url("../../public/img/HomePage/GreenCircle.svg");
  background-repeat: no-repeat;
  background-size: 508px 527px;
}
.weHave .weHave__box {
  position: relative;
  display: flex;
  z-index: 2;
  margin: 0 auto;
  border-radius: 46px;
  width: 1029px;
  height: 372px;
  background: linear-gradient(230deg, #fff 3.94%, #e5e5e5 64.08%, #fbfbfb 88.62%);
}
.weHave .weHave__box::after {
  content: "";
  position: absolute;
  left: -80px;
  top: -90px;
  width: 202px;
  height: 202px;
  background-image: url("../../public/img/HomePage/WeHaveAchivment.svg");
  background-size: 202px 202px;
}
.weHave .weHave__box__item {
  margin: 15px 55px;
}
.weHave .weHave__box__item__title {
  margin-top: -35px;
  text-align: center;
  font-weight: 500;
  font-size: 32px;
  line-height: 163%;
  letter-spacing: -0.02em;
  color: #121517;
}
.weHave .weHave__box__item__descr {
  margin-top: 5px;
  font-weight: 400;
  font-size: 20px;
  line-height: 163%;
  letter-spacing: 0.05em;
  text-align: center;
  color: rgba(18, 21, 23, 0.9);
}

/*--------------------WE MAKE-----------------*/
.weMake {
  display: flex;
  justify-content: space-between;
  margin-top: 160px;
  position: relative;
}
.weMake::before {
  z-index: -5;
  content: "";
  position: absolute;
  left: -190px;
  top: 400px;
  width: 508px;
  height: 527px;
  background-image: url("../../public/img/HomePage/GreenCircle.svg");
  background-repeat: no-repeat;
  background-size: 508px 527px;
}
.weMake::after {
  z-index: -1;
  content: "";
  position: absolute;
  left: 265px;
  top: 160px;
  width: 100%;
  height: 100%;
  background-image: url("../../public/img/HomePage/lines.svg");
  background-size: 100% 130%;
  background-repeat: no-repeat;
}
.weMake .weMake__boximg {
  position: relative;
}
.weMake .weMake__boximg::before {
  content: "";
  position: absolute;
  left: 265px;
  top: -60px;
  width: 245px;
  height: 245px;
  background-image: url("../../public/img/HomePage/WeHaveAchivment.svg");
  background-size: 245px 245px;
}
.weMake__img {
  margin: -64px 0 0 -72px;
  z-index: -1;
}
.weMake .weMake__info h2 {
  text-wrap: nowrap;
  font-weight: 800;
  font-size: 80px;
  line-height: 109%;
  letter-spacing: -0.06em;
  color: #fff;
  letter-spacing: -0.02em;
}
.weMake .weMake__info h2 strong {
  text-wrap: nowrap;
  font-weight: 800;
  font-size: 80px;
  line-height: 109%;
  letter-spacing: -0.06em;
  color: #fff;
  letter-spacing: -0.05em;
  background: -webkit-linear-gradient(225deg, rgb(35, 114, 73) 0%, rgb(53, 198, 107) 100%);
  background: -moz-linear-gradient(225deg, rgb(35, 114, 73) 0%, rgb(53, 198, 107) 100%);
  background: linear-gradient(225deg, rgb(35, 114, 73) 0%, rgb(53, 198, 107) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.weMake .weMake__info p {
  margin-top: 55px;
  max-width: 457px;
  font-size: 20px;
  line-height: 163%;
  letter-spacing: 0.011em;
  color: #d9d9d9;
}
.weMake .weMake__info iframe {
  margin-top: 10px;
}

/*-----------------------NEW OUR PRODUCTS----------------------*/
.ourProducts {
  margin-top: 38px;
  margin-bottom: 100px;
}
.ourProducts__head {
  display: flex;
  margin-bottom: 55px;
}
.ourProducts__head h2 {
  margin-right: 90px;
  text-wrap: nowrap;
  font-weight: 800;
  font-size: 80px;
  line-height: 109%;
  letter-spacing: -0.06em;
  color: #fff;
  letter-spacing: -0.04em;
}
.ourProducts__head h2 strong {
  text-wrap: nowrap;
  font-weight: 800;
  font-size: 80px;
  line-height: 109%;
  letter-spacing: -0.06em;
  color: #fff;
  letter-spacing: -0.03em;
  background: -webkit-linear-gradient(225deg, rgb(35, 114, 73) 0%, rgb(53, 198, 107) 100%);
  background: -moz-linear-gradient(225deg, rgb(35, 114, 73) 0%, rgb(53, 198, 107) 100%);
  background: linear-gradient(225deg, rgb(35, 114, 73) 0%, rgb(53, 198, 107) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ourProducts__head p {
  max-width: 444px;
  font-size: 20px;
  line-height: 163%;
  letter-spacing: 0.011em;
  color: #d9d9d9;
}

/*---------------------OUR NEW EVENTS---------------------*/
.newEvents {
  margin-top: 100px;
  position: relative;
}
.newEvents::after {
  z-index: -1;
  content: "";
  position: absolute;
  left: -400px;
  top: -150px;
  width: 100%;
  height: 100%;
  background-image: url("../../public/img/HomePage/lines.svg");
  background-size: 100% 130%;
  background-repeat: no-repeat;
  transform: rotate(10deg);
}
.newEvents__head {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 45px;
}
.newEvents__head p {
  margin-right: 72px;
  max-width: 457px;
  font-size: 20px;
  line-height: 163%;
  letter-spacing: 0.011em;
  color: #d9d9d9;
}
.newEvents__head h2 {
  margin-right: 40px;
  max-width: 366px;
  text-wrap: nowrap;
  font-weight: 800;
  font-size: 80px;
  line-height: 109%;
  letter-spacing: -0.06em;
  color: #fff;
  letter-spacing: -0.04em;
}
.newEvents__head h2 strong {
  text-wrap: nowrap;
  font-weight: 800;
  font-size: 80px;
  line-height: 109%;
  letter-spacing: -0.06em;
  color: #fff;
  letter-spacing: -0.03em;
  background: -webkit-linear-gradient(225deg, rgb(35, 114, 73) 0%, rgb(53, 198, 107) 100%);
  background: -moz-linear-gradient(225deg, rgb(35, 114, 73) 0%, rgb(53, 198, 107) 100%);
  background: linear-gradient(225deg, rgb(35, 114, 73) 0%, rgb(53, 198, 107) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.newEvents__box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.newEvents__box::before {
  z-index: -5;
  content: "";
  position: absolute;
  top: 80px;
  opacity: 40%;
  width: 508px;
  height: 527px;
  background-image: url("../../public/img/HomePage/WhiteCircle.svg");
  background-repeat: no-repeat;
  background-size: 508px 527px;
}
.newEvents__box__bigCard {
  width: 615px;
  height: 260px;
  border-radius: 30px;
  margin: 12px;
  cursor: pointer;
  padding: 25px;
  transition: filter 0.2s;
}
.newEvents__box__bigCard:nth-child(1) {
  background-image: url("../../public/img/HomePage/OurNewEvents/two_coffee.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.newEvents__box__bigCard:nth-child(2) {
  background-image: url("../../public/img/HomePage/OurNewEvents/kitchen_tour.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.newEvents__box__bigCard:hover {
  filter: brightness(130%);
}
.newEvents__box__minCard {
  width: 401px;
  height: 270px;
  border-radius: 32px;
  margin: 12px;
  cursor: pointer;
  padding: 25px;
  transition: filter 0.2s;
}
.newEvents__box__minCard:nth-child(3) {
  background-image: url("../../public/img/HomePage/OurNewEvents/free_coffee.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.newEvents__box__minCard:nth-child(4) {
  background-image: url("../../public/img/HomePage/OurNewEvents/our_inst.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.newEvents__box__minCard:nth-child(5) {
  background-image: url("../../public/img/HomePage/OurNewEvents/where_are.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.newEvents__box__minCard:hover {
  filter: brightness(123%);
}
.newEvents__box h4 {
  margin-top: 20px;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0.03em;
  line-height: 108.5%;
}
.newEvents__box button {
  border: none;
  margin-top: 40px;
  width: 167.97px;
  height: 74.65px;
  border-radius: 82px;
  background: linear-gradient(244.98deg, rgb(35, 114, 73) 5.493%, rgb(53, 198, 107) 76.668%);
  font-size: 24px;
  font-weight: 600;
  line-height: 146.47%;
  letter-spacing: -3%;
  color: rgb(217, 217, 217);
  cursor: pointer;
}
.newEvents__box button:hover {
  background: linear-gradient(210deg, rgba(41, 159, 98, 0.91) 0%, rgba(9, 152, 64, 0.93) 100%);
}

/*-----------------------OUR CONTACTS--------------------*/
.ourContacts {
  margin-top: 123px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.ourContacts::after {
  z-index: -1;
  content: "";
  position: absolute;
  left: 190px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-image: url("../../public/img/HomePage/lines.svg");
  background-size: 100% 130%;
  background-repeat: no-repeat;
}
.ourContacts__info::before {
  z-index: -5;
  content: "";
  position: absolute;
  top: 0px;
  opacity: 70%;
  width: 508px;
  height: 527px;
  background-image: url("../../public/img/HomePage/GreenCircle.svg");
  background-repeat: no-repeat;
  background-size: 508px 527px;
}
.ourContacts__info h2 {
  margin-left: 20px;
  text-wrap: nowrap;
  font-weight: 800;
  font-size: 80px;
  line-height: 109%;
  letter-spacing: -0.06em;
  color: #fff;
  letter-spacing: -0.04em;
}
.ourContacts__info h2 strong {
  text-wrap: nowrap;
  font-weight: 800;
  font-size: 80px;
  line-height: 109%;
  letter-spacing: -0.06em;
  color: #fff;
  letter-spacing: -0.03em;
  background: -webkit-linear-gradient(225deg, rgb(35, 114, 73) 0%, rgb(53, 198, 107) 100%);
  background: -moz-linear-gradient(225deg, rgb(35, 114, 73) 0%, rgb(53, 198, 107) 100%);
  background: linear-gradient(225deg, rgb(35, 114, 73) 0%, rgb(53, 198, 107) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ourContacts__info p {
  margin-top: 60px;
  margin-left: 30px;
  max-width: 444px;
  font-size: 20px;
  line-height: 163%;
  letter-spacing: 0.011em;
  color: #d9d9d9;
}
.ourContacts__info .ourContacts__inst {
  display: block;
  font-size: 32px;
  font-weight: 500;
  line-height: 131.97%;
  color: white;
  position: relative;
  letter-spacing: 0.05em;
  margin-left: 100px;
  margin-top: 60px;
}
.ourContacts__info .ourContacts__inst::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: -70px;
  background-image: url("../../public/img/HomePage/instagram.svg");
  background-repeat: no-repeat;
  background-size: 57px 57px;
}
.ourContacts__info .ourContacts__phone {
  display: block;
  font-size: 32px;
  font-weight: 500;
  line-height: 131.97%;
  letter-spacing: 0.05em;
  color: white;
  margin-top: 40px;
  margin-left: 100px;
}
.ourContacts__info .ourContacts__phone::before {
  content: "";
  position: absolute;
  width: 44px;
  height: 44px;
  margin-left: -70px;
  background-image: url("../../public/img/HomePage/phone.svg");
  background-repeat: no-repeat;
  background-size: 44px 44px;
}
.ourContacts img {
  position: relative;
}
.ourContacts img::after {
  z-index: 10;
  content: "";
  position: absolute;
  left: 190px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-image: url("../../public/img/HomePage/lines.svg");
  background-size: 100% 130%;
  background-repeat: no-repeat;
}

/*# sourceMappingURL=page.module.css.map */
